In [2]:
import pandas as pd
import json
import re
import numpy as np
import matplotlib as plt

In [29]:


Tpm=pd.read_csv("real_property_master_trump.csv", 
                          names = ["docid", "recordtype", "CRFN", "Borough","doctype", "docdate", 
                                   "docamount","recordedfiled", "modifieddate","reelyear","reelnbr","reelpage","pcttransferred","goodthroughdate"
                                  ])

In [30]:
Tpm.dtypes

docid                int64
recordtype          object
CRFN                 int64
Borough              int64
doctype             object
docdate             object
docamount          float64
recordedfiled       object
modifieddate        object
reelyear             int64
reelnbr              int64
reelpage             int64
pcttransferred       int64
goodthroughdate     object
dtype: object

In [10]:
Tpm.head()

,docid,recordtype,CRFN,Borough,doctype,docdate,docamount,recordedfiled,modifieddate,reelyear,reelnbr,reelpage,pcttransferred,goodthroughdate
0,2016101800842001,A,2016000369713,1,TOLCC,2016-10-18,0.0,2016-10-20,2016-10-20,0,0,0,0,2016-10-31
1,2016110800592001,A,2016000406358,1,RPTT&RET,2016-11-01,187000.0,2016-11-17,2016-11-17,0,0,0,100,2016-11-30
2,2016110400185005,A,2016000390696,1,PAT,2016-10-25,0.0,2016-11-04,2016-11-04,0,0,0,0,2016-11-30
3,2016040501244002,A,2016000121692,1,MAPS,2016-03-02,0.0,2016-04-07,2016-04-07,0,0,0,0,2016-04-30
4,2016020200956001,A,2016000067757,1,PAT,2015-12-17,0.0,2016-02-29,2016-02-29,0,0,0,0,2016-02-29

In [11]:
Tpm.doctype.unique()

array(['TOLCC', 'RPTT&RET', 'PAT', 'MAPS', 'DEED', 'LOCC', 'SAT', 'ADEC',
       'MTGE', 'AL&R', 'AGMT', 'PREL', 'REL'], dtype=object)

In [46]:
Tpm.groupby("yearmonth").docamount.sum()

yearmonth
2016-01    14050010.0
2016-02           0.0
2016-03      750000.0
2016-04           0.0
2016-05     2032776.0
2016-06           0.0
2016-07           0.0
2016-08      470000.0
2016-09           0.0
2016-10           0.0
2016-11      807000.0
2016-12           0.0
2017-01    52492560.0
2017-02    16143500.0
2017-03      465000.0
Name: docamount, dtype: float64

In [65]:
Tpm["yearmonth"] = Tpm.recordedfiled.str[:7]

In [ ]:
#In 2017 there has been a relatively larger number of documnets for

In [37]:
Tpm.groupby('yearmonth').size()

yearmonth
2016-01    10
2016-02    13
2016-03    14
2016-04    13
2016-05    14
2016-06    24
2016-07    13
2016-08     9
2016-09     6
2016-10    13
2016-11    13
2016-12     5
2017-01    45
2017-02    13
2017-03    12
dtype: int64

In [57]:
Tpm.groupby(["doctype","yearmonth"]).size()

doctype   yearmonth
ADEC      2016-01       1
          2016-03       1
          2016-04       2
AGMT      2017-02       1
AL&R      2017-01       1
DEED      2016-01       3
          2016-02       1
          2016-05       3
          2016-11       1
          2017-01       3
          2017-02       1
          2017-03       1
LOCC      2016-05       2
          2016-06       7
          2016-08       3
          2016-09       1
          2016-10       2
          2017-01       4
          2017-02       1
          2017-03       1
MAPS      2016-01       1
          2016-03       1
          2016-04       2
          2017-01       1
MTGE      2016-03       1
          2017-01       1
          2017-03       1
PAT       2016-01       4
          2016-02      10
          2016-03       9
          2016-04       8
          2016-05       8
          2016-06      17
          2016-07      12
          2016-08       4
          2016-09       4
          2016-10      10
          2016-11      10
          2016-12       5
          2017-01      13
          2017-02       7
          2017-03       9
PREL      2017-02       1
REL       2017-02       1
RPTT&RET  2016-05       1
          2016-08       1
          2016-11       1
          2017-01      21
          2017-02       1
SAT       2016-04       1
          2016-07       1
          2017-01       1
TOLCC     2016-01       1
          2016-02       2
          2016-03       2
          2016-08       1
          2016-09       1
          2016-10       1
          2016-11       1
dtype: int64

In [40]:
Tpm.groupby("Borough").size()

Borough
1    185
2      8
3     13
4     11
dtype: int64