In [1]:
import pandas as pd

In [2]:
RPM=pd.read_csv("RPM.csv", dtype=object)

In [3]:
list(RPM)

['\ufeffDOCUMENT ID',
 'RECORD TYPE',
 'CRFN',
 'BOROUGH',
 'DOC. TYPE',
 'DOC. DATE',
 'DOC. AMOUNT',
 'RECORDED / FILED',
 'MODIFIED DATE',
 'REEL YEAR',
 'REEL NBR',
 'REEL PAGE',
 '% TRANSFERRED',
 'GOOD THROUGH DATE']

In [4]:
RPM.head()

,﻿DOCUMENT ID,RECORD TYPE,CRFN,BOROUGH,DOC. TYPE,DOC. DATE,DOC. AMOUNT,RECORDED / FILED,MODIFIED DATE,REEL YEAR,REEL NBR,REEL PAGE,% TRANSFERRED,GOOD THROUGH DATE
0,2005061701931001,A,2005000459309,3,DEED,03/06/2003,538000,08/16/2005,08/16/2005,0,0,0,100,07/31/2015
1,2008071100380001,A,2008000286740,1,ASST,07/03/2008,0,07/18/2008,07/18/2008,0,0,0,0,07/31/2015
2,FT_1150000333415,A,NaN,1,MTGE,NaN,25300,02/20/1990,02/20/1990,1990,1668,1077,0,07/31/2015
3,2010051901161001,A,2010000208271,1,RPTT&RET,05/20/2010,940000,06/22/2010,06/22/2010,0,0,0,100,07/31/2015
4,FT_2310004396631,A,NaN,2,SAT,NaN,0,08/15/1994,08/25/1994,1994,1251,303,0,07/31/2015

In [5]:
RPM['\ufeffDOCUMENT ID']=RPM['\ufeffDOCUMENT ID'].str.replace(',', '')
RPM['RECORD TYPE']=RPM['RECORD TYPE'].str.replace(',', '')
RPM['CRFN']=RPM['CRFN'].str.replace(',', '')
RPM['BOROUGH']=RPM['BOROUGH'].str.replace(',', '')
RPM['DOC. TYPE']=RPM['DOC. TYPE'].str.replace(',', '')
RPM['DOC. DATE']=RPM['DOC. DATE'].str.replace(',', '')
RPM['DOC. AMOUNT']=RPM['DOC. AMOUNT'].str.replace(',', '')
RPM['RECORDED / FILED']=RPM['RECORDED / FILED'].str.replace(',', '')
RPM['MODIFIED DATE']=RPM['MODIFIED DATE'].str.replace(',', '')
RPM['REEL YEAR']=RPM['REEL YEAR'].str.replace(',', '')
RPM['REEL NBR']=RPM['REEL NBR'].str.replace(',', '')
RPM['REEL PAGE']=RPM['REEL PAGE'].str.replace(',', '')
RPM['% TRANSFERRED']=RPM['% TRANSFERRED'].str.replace(',', '')
RPM['GOOD THROUGH DATE']=RPM['GOOD THROUGH DATE'].str.replace(',', '')

In [6]:
print("hello")

hello

In [7]:
RPM.to_csv("RPM_clean.csv", dtype=object)